*.zip
film_directory
.vscode
venv
env
jpg/*.jpg
json/*.json
*.db
roger.db
file.db
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Jupyter Notebook
.ipynb_checkpoints

# pytest
.pytest_cache/